<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461125690150-1suhjrfftlc3o5vb76v1hpit16h5j8pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461125690150-1suhjrfftlc3o5vb76v1hpit16h5j8pk</string>
	<key>API_KEY</key>
	<string>AIzaSyC1uS9KnJixZ6q9giD4dq3iqFwZ5yvuWmY</string>
	<key>GCM_SENDER_ID</key>
	<string>461125690150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xx1196.crudProductos</string>
	<key>PROJECT_ID</key>
	<string>products-c6b79</string>
	<key>STORAGE_BUCKET</key>
	<string>products-c6b79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461125690150:ios:77b7389ea940ca9c0357e7</string>
	<key>DATABASE_URL</key>
	<string>https://products-c6b79.firebaseio.com</string>
</dict>
</plist>